<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataBase.Properties.Settings.systemConnectionString"
            connectionString="server=127.0.0.1;User Id=root;database=system;Persist Security Info=True;charset=utf8"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>